<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJs : To do list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" 
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="css/default.css">
</head>

<body class="bg-light">
    <div class="container">
        <div>
            <h2> To do list </h2>
            <div id="app">
                <div class="row justify-content-center">
                    <div class="row col-md-6">
                        <input type="text" class="form-control col-sm-10" v-model="item" id="add_txt"  v-on:keyup.enter="addItem">
                        <button class="btn btn-info col-sm-2" id="add_btn" @click="addItem"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <ul class="col-md-6"  v-if="todos.length > 0">
                        <li v-for="(todo,index) in todos">
                            <label v-bind:class="{ done: todo.isChecked }">
                                <input type="checkbox" v-model="todo.isChecked" @change="saveTodo()"> 
                                {{ todo.title }}
                            </label>
                            <a @click="removeItem(index)"> <i class="fas fa-times"></i> </a>
                        </li>
                        <p> {{ numberChecked }} / {{ this.todos.length }}</p>
                        <a @click="deleteCompleted" class="delCompleted">Clear completed</a>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            item: '',
            todos: []
        },
        methods: {
            addItem() {
                if(this.todos.length>=10){
                    alert("Remove item first");
                }else if (this.item != "") {
                    this.todos.push({ title: this.item, isChecked: false });
                    this.item = "";
                    this.saveTodo();
                }
            },
            removeItem(idx) {
                this.todos.splice(idx, 1);
                this.saveTodo();
            },
            saveTodo() {
                localStorage.setItem('todos', JSON.stringify(this.todos));
            },
            loadTodo() {
                this.todos = JSON.parse(localStorage.getItem("todos"));
                if (!this.todos) {
                    this.todos = []
                }
            },
            deleteCompleted(){
                this.todos =  this.todos.filter(i => {
                    return i.isChecked == false
                })
                this.saveTodo();
            }
        },
        mounted() {
            this.loadTodo();
        },
        computed: {
            numberChecked(){
                return this.todos.filter(i=>i.isChecked==true).length
            }
        }
    })
</script>

</html>
